:root {
    --midnight-blue: #003B6D;
    --blue-sky: #6699CC;
    --dim-gray: #676767;
    --silver: #BDBDBD;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 8em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: var(--midnight-blue);
    border-bottom: var(--midnight-blue) .5em solid;
    padding: .5em;
}
.logos{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logos img {
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    /* padding: .5em;
    margin: .5em; */
    height: 60%
}
.active {
    background-color: var(--blue-sky);
    color: white;
}
.searchbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5em;
    height: 40%;
}
.searchbar input {
    padding: .4em;
    font-size: medium;
    border-radius: 1em;
    border: 2px solid var(--blue-sky);
    margin-right: .5em;
}
.searchbar button {
    padding: .25em 1em;
    border-radius: 1em;
    border: 1px solid var(--midnight-blue);
    background-color: white;
    color: var(--midnight-blue);
    transition: all .2s ease-in-out;
}
.searchbar button:hover {
    background-color: var(--blue-sky);
    color: white;
}
a {
    color: var(--midnight-blue);
    text-decoration: none;
    margin: 0 1em;
    font-size: larger;
    transition: all .3s ease-in-out;
}
a:hover {
    color: var(--blue-sky);
}
.resources {
    align-items: center;
    margin-left: 1em;
}
.resources li {
    padding: .25em;
    margin-bottom: .25em;
}
.resources a{
    color: var(--midnight-blue);
    text-decoration: none;
    font-size: large;
    transition: all .3s ease-in-out;
}
.resources a:hover {
    color: var(--blue-sky);
}

.content ul{
    align-items: center;
    margin-left: 1em;
}
.content ul li {
    padding: .25em;
    margin-bottom: .25em;
}
.contactbtn {
    background-color: var(--midnight-blue);
    color: white;
    padding: .5em 1em;
    border-radius: 1em;
    transition: all .3s ease-in-out;
}
.contactbtn:hover {
    color: white;
    background-color: var(--blue-sky);
}

footer {
    background-color: var(--dim-gray);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.25em;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: .5em;
    margin: auto;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.footer-links a{
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-size: larger;
    transition: all .3s ease-in-out;
}
.footer-links a:hover {
    color: var(--silver);
}

main {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
    padding-top: 2em;
    margin: auto;
    color: var(--midnight-blue);
}
.intro, .content {
    width: 60%;
    padding-right: 2em;
}

h1 {
    font-size: x-large;
    margin-bottom: .5em;  
    padding-bottom: .25em;
    border-bottom: solid var(--midnight-blue) .2em;
}
h2 {
    font-size: large;
    margin-bottom: .5em;
    padding-bottom: .25em;
    border-bottom: solid var(--blue-sky) .15em;
}
.intro p, .content p {
    line-height: 2em;
    padding-bottom: .75em;
}
.images {
    width: 40%;
}
.images p {
    text-align: center;
    font-size: medium;
}
.images img {
    width: 100%;
    height: auto;
    padding: .5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form input {
    width: 80%;
    padding: .5em;
    margin-bottom: .5em;
    border-radius: 1em;
    border: 2px solid var(--blue-sky);
    color: var(--dim-gray);
}
button {
    padding: .5em 1em;
    border-radius: 1em;
    border: 1px solid var(--midnight-blue);
    background-color: white;
    color: var(--midnight-blue);
    transition: all .2s ease-in-out;
}
button:hover {
    background-color: var(--blue-sky);
    color: white;
}